*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins','sans-serif';
}
body{
    color: #ededed;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.home{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: rgb(75, 60, 88);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}
.class {
    background-color: aliceblue;
    border-radius: 15px;
    max-width: 500px;
    margin: auto;
    margin-top: 100px;
    padding: 20px 10px;
    box-shadow: 3px 5px 30px rgba(0, 0, 0, 0.5);
}

.log input {
    border: 2px solid #777;
    border-radius: 15px;
    font-family: inherit;
    padding: 10px;
    display: block;
    width: 95%;
}

.log label {
    margin-left: 10px;
}

.log {
    border: 1px grey;
    margin-bottom: 20px;
    text-align: left;
    margin-bottom: 25px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
/* border-bottom: 3px #777; */
}

button {
    color: aliceblue;
    background-color: blue;
    border: 1px solid #777;
    border-radius: 15px;
    font-family: inherit;
    font-size: 21px;
    display: block;
    width: 50%;
    margin-top: 50px;
    margin-bottom: 0px;
    margin-left: 25%;
}